.headline {
  margin-bottom: 16px;
  font-size: 19px;
  line-height: 22px;
  font-weight: 600;
}

.stand-first {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 12px;
}

.publish-date {
  font: 12px 'Roboto', sans-serif;
  line-height: 15px;
  color: #767676;
  margin-bottom: 16px;
}

@media only screen and (min-width: 1000px) {
  .article-header {
    width: 58%;
  }
  .article-header :not(.hero) {
    margin-left: 25%;
    margin-right: -25%;
  }
  .headline {
    font-size: 35px;
    line-height: 41px;
  }

  .stand-first {
    font-size: 22px;
    line-height: 26px;
  }
}