
.article-wrapper {
  margin-bottom: 16px;
  grid-column: 1/13;
}

@media only screen and (min-width: 1000px) {
  .article-wrapper {
    grid-column: 3/9;
  }

  article {
    grid-column: 3/9;
    margin-bottom: 32px;
  }
}