.article-header {
  grid-column: 1/13;
}

.article-hero {
  grid-column: 1/13;
  grid-row-start: 1;
}

.headline {
  margin-bottom: 16px;
  font-size: 19px;
  line-height: 22px;
  font-weight: 600;
}

.stand-first {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 12px;
}

.publish-date {
  font: 12px 'Roboto', sans-serif;
  line-height: 15px;
  color: #767676;
}

@media only screen and (min-width: 1000px) {

  .article-header {
    grid-column: 3/10;
  }

  .article-hero {
    grid-column: 1/9;
    grid-row-start: 2;
  }

  .headline {
    font-size: 35px;
    line-height: 41px;
  }

  .stand-first {
    font-size: 22px;
    line-height: 26px;
  }

  .publish-date {
    margin-bottom: 16px;
  }
}