
.comments-header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}

.comments-header .comments-length::before {
  content: ' ';
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url('images/comment-icon.svg');
  margin-right: 8px;
  vertical-align: middle;
}

.comments-header .title {
  font-size: 19px;
  font-weight: 700;
}

.comments-header .sort {
  font: 500 14px 'Roboto', sans-serif;
}

.comments-header .sort [class^="sort-"] {
  cursor: pointer;
}

.comments-body {
  font: 12px 'Roboto', sans-serif;
}
.comment {
  padding: 16px 0;
  border-bottom: 1px solid #dddddd;
}

.comment:last-child {
  border-bottom: none;
}

.comment .meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
}

.comment .user {
  font: 700 16px 'Ibarra Real Nova', serif;
}

.comment .date {
  color: #767676;

}
.comment .likes {
  font-weight: 500;
}

.comment-text {
  font-size: 14px;
  line-height: 21px;
}

@media only screen and (min-width: 1000px) {
  .comments-wrapper {
    grid-column: 3/9;
  }
}