
.headline {
  font-size: 2.4rem;
  line-height: 2.6rem;
  margin-bottom: 16px;
}

.stand-first {
  font-size: 1.3rem;
  line-height: 1.8rem;
}

.publish-date {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #999999;
  margin-bottom: 16px;
}

.hero {
  margin-bottom: 16px;
}

@media only screen and (min-width: 1000px) {
  header :not(.hero) {
    margin-left: 100px;
    margin-right: -100px;
  }
  .headline {
    font-size: 3rem;
    line-height: 3.2rem;
  }
}