.headline {
  margin-bottom: 16px;
  font-size: 19px;
  line-height: 22px;
  font-weight: 600;
}

.stand-first {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 12px;
}

.publish-date {
  font: 12px Arial, Helvetica, sans-serif;
  line-height: 15px;
  color: #767676;
  margin-bottom: 16px;
}

@media only screen and (min-width: 1000px) {
  header {
    width: 65%;
  }
  header :not(.hero) {
    margin-left: 100px;
    margin-right: -100px;
  }
  .headline {
    font-size: 35px;
    line-height: 41px;
  }
}