
.side-rail h3 {
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid #dddddd;
  font-size: 19px;
  font-weight: bold;
}

.associated-articles {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.story {
  display: flex;
  margin: 8px 0;
  padding-bottom: 16px;
  border-bottom: 1px solid #dddddd;
}

.story img {
  margin-right: 16px;
  object-fit: contain;
  align-self: start;
  width: 65px;
  height: 65px;
}

.story a {
  display: inline-block;
  color: initial;
  margin-top: 8px;
}

.story a::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #04777b;
}

@media only screen and (min-width: 1000px) {
  .side-rail {
    width: 25%;
  }
}