body {
  -webkit-font-smoothing: antialiased;
  font: 16px 'Roboto', sans-serif;
  line-height: 24px;
  color: #333333;
  padding: 8px;
}

p {
  margin: 16px 0;
}

a {
  color: #d10a11;
  text-decoration: none;
}

img {
  max-width: 100%;
}

@media only screen and (min-width: 1000px) {
  body {
    padding: 12px 48px;
  }

}